<!DOCTYPE html>
<html>

<head>

    <title>
        Holiday Calendar
    </title>

    <link
        rel="stylesheet"
        href="/static/style.css"
    >

</head>

<body>

<div class="container">

    <h1>
        Holiday Calendar
    </h1>

    <table border="1">

        <tr>

            <th>
                Date
            </th>

            <th>
                Holiday Name
            </th>

            <th>
                Type
            </th>

        </tr>

        {% for holiday in holidays %}

        <tr>

            <td>

                {{ holiday.holiday_date }}

            </td>

            <td>

                {{ holiday.holiday_name }}

            </td>

            <td>

                {{ holiday.holiday_type }}

            </td>

        </tr>

        {% endfor %}

    </table>

    <br><br>

    <a href="/dashboard">

        Back to Dashboard

    </a>

</div>

</body>

</html>